{% extends 'base.html.twig' %}

{% block body %}
        
            
            <div class="container-fluid">
                <h1 class="title mr-5">La M.A.M de Saussan,</h1>

                <div class="container">
                <div class="slider-container mx-auto" data-aos="fade-up">
                    <img name="slide" id="slides" alt="image de la mam">
                </div>
                </div>
                <p class="text-hero mt-3 mb-3 text-justify">
                Ce site a été conçu afin que vous, parents ou futur parents, puissiez faire une première rencontre avec notre <em>MAM</em>.
                Au fil de votre promenade vous trouverez des informations sur notre projet, les activités... et pour les parents employeurs une galerie photo, information....
                Surtout n'hésitez pas à nous faire part de vos idées, de vos suggestions au travers de notre rubrique contact.
                </p>
            </div>   
{% endblock %}