{% extends 'base.html.twig' %}

{% block body %}
        <div class="container mb-5">
            <h1 class="title mr-2">La M.A.M de Saussan,</h1>
            <div class="slider-container" data-aos="fade-up">
                <img name="slide" id="slides" alt="image de la mam">
            </div>
            <p class="text-hero">
                Ce site a été conçu afin que vous, parents ou futur parents, puissiez faire une première rencontre avec notre <em>MAM</em>.
                Au fil de votre promenade vous trouverez des informations sur notre projet, les activités... et pour les parents employeurs une galerie photo, information....
                Surtout n'hésitez pas à nous faire part de vos idées, de vos suggestions au travers de notre rubrique contact.
            </p>
        </div>   
{% endblock %}