{% extends 'base.html.twig' %}

{% block title %} Présentation {% endblock %}
{% block body %}
    <h3 class="title">Présentation de la M.A.M,</h3>
    <div class="container mt-5">
        <div class="firstText">
            <div class="info-text">
                <h4 class="text-center title-4">Qu’est ce qu’une M.A.M ?</h4>
                <p class="text-card text-justify">
                     Depuis 2010, les assistant(e)s maternel(le)s agréé(e)s ont la possibilité de se regrouper et d'exercer leur métier en dehors de leur domicile, dans des locaux appelés "Maisons d'assistants maternels" (Mam).
	                Pour pouvoir exercer dans une Mam, l'assistant(e) maternel(le) concerné(e) doit obligatoirement être titulaire d'un agrément spécifique délivré par le Président du Conseil départemental après avis des services de la protection maternelle et infantile (Pmi).
	                L'assistant(e) maternel(le) exerçant dans une Mam est salarié(e) du parent qui l'emploi(e). Dès lors, en tant qu'employeur, le parent est assujetti au respect de la réglementation du code du travail et à la convention collective nationale de travail des assistant(e)s maternel(le)s du particulier employeur.
                </p>
            </div>
            <div class="info-img" data-aos="fade-right">
            </div>
        </div>
        <hr class="navbar-hr">
        <div class="secondText">
            <div class="description">
                <h4 class="text-center title-4">Notre M.A.M "MAMZ’AILES COCCINELLE"</h4>
                <p class=" text-card text-justify">
                    La Maison d’assistantes Maternelle MAMZ’AILE COCCINELLE ouvre ses portes en février 2017. Elle se situe dans la <strong>commune de SAUSSAN 34570</strong>.
	                La maison fait <strong>90m2 sur un jardin de 400m2</strong>. La pièce à vivre étant suffisamment grande, nous avons pu organiser plusieurs petits espaces ( bébés, lecture, motricité, jeux...).
	                Deux chambres ont été aménagées en espace repos. Et une troisieme en bureau afin de pouvoir vous accueillir et echanger en toute confidentialité.
                    Le jardin a été aménagé afin que vos enfants puissent y jouer en tout sécurité. D’autres aménagement sont prévus ( jardin potager, parcours sensoriel, decouverte aromatique, parcours motricité...).
                </p>
            </div>
            <div class="description-img" data-aos="fade-left"></div>
        </div>    
    </div>    
{% endblock %}
{% block javascripts %}


{% endblock %}