{% extends 'base.html.twig' %}

{% block title %} Projet {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class=" mt-5">
            <h3 class="display-4 title-1 text-center">Projet d'accueil</h3>
            <p class="text-card text-center  mr-auto mt-5">
                Responsabiliser l'enfant à son niveau, lui faire confiance, le considérer comme 
		        une personne, le laisser gérer au maximum son temps, son espace et ses relations, 
		        tels sont les principes majeurs de « MAMz’aile coccinelle ».
            </p>
            <p class="text-card text-center ">
                Parents employeurs et assistantes maternelles se complètent, et sont soucieux 
                d'offrir aux enfants un milieu épanouissant, chaleureux et sécurisant.
            </p>
            <p class="text-card text-center">
                L'objectif de ces écrits étant de donner un fil conducteur aux pratiques éducatives 
                mais aussi et surtout d'aider les familles à situer le cadre de notre structure.
            </p>        
        </div>    
    <div>
    <hr class="mx-auto navbar-hr mt-5 mb-5">
    <div class="container border rounded mb-5 shadow">
        <h3 class="title-1 mt-5 text-center">Période d'adaptation et relation de confiance</h3>
        <p class="text-card text-center mb-5">	
		    Pour cela il faut prendre le temps de faire connaissance, de se parler et 
		    s'écouter afin d'instaurer un climat de confiance et de respect mutuel.
	    </p>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="title-1">a) Préparation à l'accueil et à la séparation.</h4>
                <p class="text-card">
                C'est un moment important pour l'enfant, pour ses parents et pour les assistantes maternelles de la MAM.
		        Pour cela il faut prendre le temps de faire connaissance, de se parler et s'écouter afin d'instaurer un climat de confiance et de respect mutuel.	
		        Votre enfant va découvrir à la MAM un nouveau cadre de vie et de nouvelles personnes dans un autre endroit que son domicile.
		        L'accueil progressif et conjoint que nous allons mettre en place va permettre à votre enfant de prendre appui sur ce qu'il connait déjà c'est-à-dire sur ses premiers repères : monde d'odeurs, de perceptions visuelles, de paroles et de bruits.
		        Votre enfant va devoir s'habituer à deux univers et à deux manières de vivre différentes.
		        Votre bébé a en lui des capacités pour faire face à la nouveauté à condition d'être sécurisé et soutenu dans la continuité des soins que nous donnons, parents et assistantes maternelles.
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="title-1">b) L'alimentation.</h4>
                <p class="text-card">
                Nous vous demanderons de nous faire une "fiche-repas" pour les premiers jours à la MAM.
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="title-1">c) Le sommeil.</h4>
                <p class="text-card">
                Les bébés dorment dans des lits à barreaux. Le linge de lit et les gigoteuses sont fournis par la MAM.
                Les "grands" dorment sur des couchettes (les mêmes que les crêches). Les draps adaptés pour les couchettes.
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="title-1">d) L'hygiène.</h4>
                <p class="text-card">
                Votre enfants sera changé aussi souvent que necessaire. Nous fournissons le sérum physiologique et le savon pour le change
                (si besoin), les mouchoirs.
                Nous vous demandons de nous fournir le liniment(si vous en utilisez), les couches, les cotons et les cremes pour les changes 
                en cas d'érythéme fessier.
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="title-1">e) La santé et les soins.</h4>
                <p class="text-card">
                Le suivi médical appartient aux parents mais il est souhaitable de remplir une fiche médicale dans le contrat d'accueil
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="title-1">f) Les activités et l'éveil.</h4>
                <p class="text-card">
                Nous aimons partager avec les enfants des moments où nous laissons leur imagination voguer au travers de la peinture,
                 de la pate à modeler ( recette maison ).<br>
                Nous possédons également du matériel de motrocité. Et la MAM est pourvue d'un jardin où les enfants peuvent faire du toboggan,
                 du trotteur. Ils peuvent également jouer dans les petites maisonnettes.<br>
                Quand le temps le permet nous prenons parfois les repas dans le jardin, les enfants adorent ça.
                </p>
            </div>
        </div>
        <div class="card bg-light mb-5">
            <div class="card-body">
                <h4 class="title-1">g) Les attitudes éducatives.</h4>
                <p class="text-card">
                En ce domaine plus qu'ailleurs il y a nécessité d'échanges et de cohérence.
                </p>
            </div>
        </div>
    </div>
{% endblock %}