<footer class="mt-5 contenu-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-3">
                <h5 class="text-center">Nous-contacter</h5>
                <ul class="list-unstyled">
                    <li><strong>MAMZ'AILE COCCINELLE</strong></li>
                    <li>7 rue du pic saint loup</li>
                    <li>34570 SAUSSAN</li>
                    <li><i class="fas fa-phone-square-alt fa-2x"></i> : 04 99 644 548</li>
                <ul>
            </div>
            <div class="col-md-6 mt-5">
                <p class="text-center">Copyright MAM-Saussan</p>
                <p class="text-center">Crée par Dominique PIETON </p>
            </div>
            <div class="col-md-3 mt-3">
                <h5>les horraires d'ouverture :</h5>
                <ul class="list-unstyled">
                    <li>Lundi:    ✔️  7h45 - 18h00</li>
                    <li>Mardi:    ✔️  7h45 - 18h00</li>
                    <li>Mercredi: ✔️  7h45 - 18h00</li>
                    <li>Jeudi:    ✔️  7h45 - 18h00</li>
                    <li>Vendredi: ✔️  7h45 - 18h00</li>
                    <li>Samedi:   ❌ fermé</li>
                    <li>Dimanche: ❌ fermé</li>
                </ul>
            </div>
        </div>
    </div>
</footer>